*.mex*
*.pyc
*.tgz
*.so
*.o
output*
lib/synthesize/build/*
lib/utils/bbox.c
data/
ngc/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

